* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f3f3f3;
}
.flexbox {
  display: flex;
  justify-content: space-between;
  width: 100%;

  height: 100vh;
  overflow: hidden;
  margin: 0 auto;
  padding: 5px;
}

.board {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  background-color: rgb(99, 84, 84);
  padding: 20px;
  margin: 30px;
}
.card {
  padding: 10px 5px;
  background-color: #df8f278e;
  cursor: pointer;
  margin-bottom: 10px;
  width: 100px;
}
